<h1>{{ 'Pre Survey'|t }}</h1>

{% if message != null %}
    <p>{{ message }}</p>
{% endif %}

<div class="actions">
    <a href="{{ url('<front>') }}">{{ 'Go to top page' }}</a>
    <a href="{{ url('lms_user.dashboard') }}">{{ 'Go to member dashboard' }}</a>
</div>
